<html>
    <%= render_partial "base/_head.html.erb" %>
    <body>
        <%= render_partial "base/_navbar.html.erb" %>
        <div>
            <h1><%= @title %></h1>
            <p><a href="/expenditures/new">Add new expenditure</a></p>
            <ul>
                <% @expenditures.each do |exp| %>
                    <li>
                        <a href="/expenditures/<%= exp.id %>">
                            <%= "#{exp.id} - #{exp.name}" %>
                        </a>
                    </li>
                <% end %>    
            </ul>
        </div>
    </body>
</html>